<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>NewBookFilter</filter-name>
        <filter-class>filters.NewBookFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewBookFilter</filter-name>
        <servlet-name>CreateBookServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortingServlet</servlet-name>
        <servlet-class>controller.SortingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookPageServlet</servlet-name>
        <servlet-class>controller.BookPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookServlet</servlet-name>
        <servlet-class>controller.CreateBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateBookServlet</servlet-name>
        <url-pattern>/create_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookPageServlet</servlet-name>
        <url-pattern>/book_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortingServlet</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
</web-app>
