<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/errors/404/index.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500/index.html</location>
    </error-page>

    <listener>
        <listener-class>listeners.MySessionListener</listener-class>
    </listener>

    <filter>
        <filter-name>NewOrderFilter</filter-name>
        <filter-class>filters.NewOrderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewOrderFilter</filter-name>
        <servlet-name>NewOrderServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>BookFilter</filter-name>
        <filter-class>filters.BookFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BookFilter</filter-name>
        <servlet-name>NewBookServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>NewPersonFilter</filter-name>
        <filter-class>filters.NewPersonFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewPersonFilter</filter-name>
        <servlet-name>CreateLibrarianServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewPersonFilter</filter-name>
        <servlet-name>SignUpServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSortingServlet</servlet-name>
        <servlet-class>controller.BookSortingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookPageServlet</servlet-name>
        <servlet-class>controller.BookPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBookServlet</servlet-name>
        <servlet-class>controller.NewBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>controller.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLibrarianServlet</servlet-name>
        <servlet-class>controller.DeleteLibrarianServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLibrarianServlet</servlet-name>
        <servlet-class>controller.CreateLibrarianServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBanServlet</servlet-name>
        <servlet-class>controller.UserBanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubscription</servlet-name>
        <servlet-class>controller.GetSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderServlet</servlet-name>
        <servlet-class>controller.NewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProcessingServlet</servlet-name>
        <servlet-class>controller.OrderProcessingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationServlet</servlet-name>
        <servlet-class>controller.PaginationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchingServlet</servlet-name>
        <servlet-class>controller.UserSearchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSearchingServlet</servlet-name>
        <servlet-class>controller.OrderSearchingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>controller.LanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetButton</servlet-name>
        <servlet-class>controller.ResetButton</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResetButton</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/lang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSearchingServlet</servlet-name>
        <url-pattern>/orderSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchingServlet</servlet-name>
        <url-pattern>/userSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationServlet</servlet-name>
        <url-pattern>/pagination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProcessingServlet</servlet-name>
        <url-pattern>/orderPrecessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderServlet</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubscription</servlet-name>
        <url-pattern>/getSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBanServlet</servlet-name>
        <url-pattern>/user_ban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLibrarianServlet</servlet-name>
        <url-pattern>/create_librarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLibrarianServlet</servlet-name>
        <url-pattern>/delete_librarian</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/delete_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBookServlet</servlet-name>
        <url-pattern>/newBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookPageServlet</servlet-name>
        <url-pattern>/book_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSortingServlet</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
</web-app>
